main {
  background-color: #f1f7f6;
  text-align: justify;
}

::-moz-selection {
  color: white;
  background: #97aaa8;
}

::selection {
  color: white;
  background: #97aaa8;
}

.btn-light {
  color: white;
  background-color: #97aaa8 !important;
  display: inline;
}

.container {
  background-color: #eae9e6;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  max-width: 70%;
}

.inner {
  display: inline-block;
}

.form-group {
  display: inline-block;
}

.form-check {
  display: inline-block;
  margin-left: 50px;
}

.form-check-label {
  margin-left: -20px;
}

header {
  background-color: #97aaa8;
}

.navbar,
.navbar-collapse,
.form-inline,
.nav-link {
  color: white !important;
}

.navbar-brand.abs {
  position: absolute;
  width: 20%;
  left: 38.5%;
  text-align: center !important;
  color: white !important;
}

#login,
#register {
  text-align: center;
  margin-top: 50px;
}

#add_book {
  border: none;
  background-color: #eae9e6;
}

.img_btn {
  width: 30px;
}

.book_cover {
  width: 100px;
  height: 100px;
}

.container_new_book {
  background-color: #eae9e6;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  max-width: 30%;
}

#page-count,
#isbn {
  max-width: 42%;
}

.item-a {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: author;
}

.item-b {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: title;
}

.item-c {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: book_cover;
}

.item-d {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: col_a;
}

.item-e {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: col_b;
}

.item-f {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: col_c;
  overflow: auto;
}

.item-g {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: my_notes;
}

.item-h {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: notes_text;
  overflow: auto;
  background-color: #f5f3ee;
}

.item-i {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: quote;
}

.item-j {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: quote_text;
  overflow: auto;
  background-color: #f5f3ee;
}

.profile_container {
  display: -ms-grid;
  display: grid;
  background-color: #eae9e6;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  max-width: 70%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 2fr auto auto auto auto;
      grid-template-rows: 1fr 1fr 2fr auto auto auto auto;
      grid-template-areas: "book_cover author author author" "book_cover title title title" "book_cover col_a col_b col_c" "my_notes . . ." "notes_text notes_text notes_text notes_text" "quote . . ." "quote_text quote_text quote_text quote_text";
}

#logo_profile {
  width: 200px;
  height: 200px;
}

.quote_brown_bg {
  background-color: #eae9e6;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  max-width: 70%;
}

.quote_sand_bg {
  background-color: #f5f3ee;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  max-width: 70%;
}

.quote_author {
  float: right;
  font-style: italic;
  margin-right: 15px;
}

#quote_sign {
  width: 50px;
}

.quote_text {
  display: inline;
}

#add_quote {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #524240;
}

#new_quote {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

#quote_author, #quote_title, #quote_quote {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#quote_btn {
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

textarea {
  width: 100%;
  border: none;
}

.container_new_quote {
  background-color: #eae9e6;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  max-width: 70%;
}

.author_in_quote, .book_title_in_quote {
  margin-left: 70%;
  margin-right: auto;
  text-align: center;
}

#my_rating {
  display: inline-block;
}

#quote_sign_small {
  width: 30px;
}

.rating {
  margin: 0 auto 1em;
  font-size: 35px;
  overflow: hidden;
  display: inline-block;
}

.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}

.rating a,
.rating label {
  float: right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
  color: #7e372e;
  cursor: pointer;
}

.rating2 {
  direction: rtl;
}

.rating2 a {
  float: none;
}

.book {
  background-color: #a39b85;
  padding: 15px;
  margin: 10px;
  max-width: calc(100% / 3);
}

.names {
  font-weight: 600;
}

.alert {
  background-color: #eae9e6;
  font-weight: 500;
}

#show_menu {
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
  width: 170px;
  height: 105px;
  border: 1px solid #a39b85;
  background-color: #eae9e6;
  z-index: 2;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#show_menu a {
  color: black;
  margin: 0;
  display: block;
  height: 1px;
  padding-left: 5px;
  padding-right: 10px;
}

/* Change color of dropdown links on hover */
.option_content:hover {
  color: #bd4b4b;
}

.option_content {
  border: 0px;
  text-align: left;
  width: 170px;
  background-color: transparent;
}

.options {
  background-color: transparent;
  width: auto;
  border: transparent;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.show {
  display: block;
}
/*# sourceMappingURL=style.css.map */