header {
    background-color: #97aaa8;
}

.inner {
    display: inline-block;
}

.navbar, .navbar-collapse, .form-inline, .nav-link {
    color: white !important;
}

.navbar-brand.abs {
    position: absolute;
    width: 20%;
    left: 38.5%;
    text-align: center !important;
    color: white !important;
}

.modal {
    color: black;
}

main {
    background-color: #f1f7f6;
    text-align: justify;
}

#login, #register {
    text-align: center;
    margin-top: 50px;
}

.btn-light {
    color: white;
    background-color: #97AAA8 !important;
    display: inline;
}

.container {
    background-color: #eae9e6;
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 70%;
}

.book {
    background-color: #f5f3ee;
    padding: 15px;
    margin: 10px;
    max-width: calc(100%/3);
}

#add_book {
    border: none;
    background-color: #eae9e6;
}

.img_btn {
    width: 30px;
}

.book_cover {
    width: 100px;
    height: 100px;
}

.options {
    width: auto;
    height: 20px;
    margin-right: 15px;
}

.form-check {
    display: inline-block;
    margin-left: 50px;
}

.form-check-label {
    margin-left: -20px;
}

.form-group {
    display: inline-block;
}

.quote_brown_bg {
    background-color: #eae9e6;
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 70%;
}

.quote_sand_bg {
    background-color: #f5f3ee;
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 70%;
}

.quote_author {
    float: right;
    font-style: italic;
    margin-right: 15px;
}

#quote_sign {
    width: 50px;
}

.quote_text {
    display: inline;
}

#logo_profile {
    width: 200px;
    height: 200px;
}

.item-a {
    grid-area: author;
}
.item-b {
    grid-area: title;
}
.item-c {
    grid-area: book_cover;
}
.item-d {
    grid-area: col_a;
}
.item-e {
    grid-area: col_b;
}
.item-f {
    grid-area: col_c;
    overflow: auto;
}
.item-g {
    grid-area: my_notes;
}
.item-h {
    grid-area: notes_text;
    overflow: auto;
    background-color: #f5f3ee;
}
.item-i {
    grid-area: quote;
}
.item-j {
    grid-area: quote_text;
    overflow: auto;
    background-color: #f5f3ee;
}
      
.profile_container {
    display: grid;
    background-color: #eae9e6;
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 70%;
    // column-gap: 10px;
    // row-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr auto auto auto auto;
    grid-template-areas: 
        "book_cover author author author"
        "book_cover title title title"
        "book_cover col_a col_b col_c"
        "my_notes . . ."
        "notes_text notes_text notes_text notes_text"
        "quote . . ."
        "quote_text quote_text quote_text quote_text"
}

#my_rating {
    display: inline-block;
}

#rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    display: inline-block;
}
#rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
#rating > span:hover,
#rating > span:hover ~ span {
    color: transparent;
}
#rating > span:hover:before,
#rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0; 
    color: #7e372e;
}

#quote_sign_small {
    width: 30px;
}