header {
    background-color: #97aaa8;
}

.inner {
    display: inline-block;
}

.navbar, .navbar-collapse, .form-inline {
    color: white !important;
}

.navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    color: white !important;
}

body {
    background-color: #f1f7f6;
    text-align: justify;
}

.container {
    background-color: #eae9e6;
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 70%;
}

.book {
    background-color: #f5f3ee;
    padding: 15px;
    margin: 10px;
    max-width: calc(100%/3);
}

#add_book {
    border: none;
    background-color: #eae9e6;
}

.img_btn {
    width: 30px;
}

.book_cover {
    width: 100px;
    height: 100px;
}

.options {
    width: auto;
    height: 20px;
    margin-right: 15px;
}

.form-check {
    display: inline-block;
    margin-left: 50px;
}

.form-check-label {
    margin-left: -20px;
}

.form-group {
    display: inline-block;
}

.quote_brown_bg {
    background-color: #eae9e6;
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 70%;
}

.quote_sand_bg {
    background-color: #f5f3ee;
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 70%;
}

.quote_author {
    float: right;
    font-style: italic;
    margin-right: 15px;
}

#quote_sign {
    width: 50px;
}