{% extends "layout.html" %}

{% block main %}
    {% for book in data %}
        <div class="profile_container_top">
            <div class="item-c"><img id="logo_profile" src="../static/logo.png" alt="book cover"></div>
            <div class="item-a book_profile_author">{{ book.author }}</div>
            <div class="item-b book_profile_book_title">{{ book.title }}</div>
            <div class="item-d">
                <p class="book_profile_titles">Page count:</p>
                <div class="book_profile_text">{{ book.pages }}</div>
                <br>
                <p class="book_profile_titles">ISBN:</p>
                <div class="book_profile_text">{{ book.isbn }}</div>
                <br>
                <p class="book_profile_titles">Genre:</p>
                <div class="book_profile_text">{{ book.genre }}</div>
                <br>
                {% if book.owner %}
                    <p class="book_profile_titles">Belongs to:</p>
                    <div class="book_profile_text">{{ book.owner }}</div>
                {% endif %}
            </div>
            <div class="item-e">
                <p class="book_profile_titles">Started reading:</p>
                {% if book.started %}
                    <div class="book_profile_text">{{ book.started }}</div>
                    <br>
                    <p class="book_profile_titles">Finished reading:</p>
                    {% if book.finished %}
                        <div class="book_profile_text">{{ book.finished }}</div>
                    {% else %}
                        <div class="book_profile_text">haven't finished reading</div>
                    {% endif %}
                {% else %}
                    <div class="book_profile_text">haven't started reading</div>
                {% endif %}
                <p class="book_profile_titles">Rating:</p>
                {% if book.rating %}
                    <div class="book_profile_text">{{ book.rating }}</div>
                {% else %}
                    <div class="book_profile_text">no rating</div>
                {% endif %}
            </div>

            <div class="item-f">
                <p class="book_profile_titles">Lending history</p>
                {% if not lendings %}
                    <p><i>There is no lending history for this book.</i></p>
                {% else %}
                    <table class="table table-striped">
                        <tr>
                            <th>Lent</th>
                            <th>Returned</th>
                            <th>Lent to</th>
                        </tr>
                        {% for record in lendings %}
                            <tr>
                                <td>{{ record.lent_date }}</td>
                                {% if not record.returned %}
                                    <td><i>Not returned yet</i></td>
                                    <td>{{ record.borrower }}</td>
                                {% else %}
                                    <td>{{ record.returned }}</td>
                                    <td>{{ record.borrower }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>

            <div class="item-g">
                <div class="book_options">
                    <img class="book_options_image"
                         onclick="showOptionsFor('opt{{ book.book_id }}')"
                         src="../static/options.svg"
                         alt="options"/>

                    <div id="opt{{ book.book_id }}" class="book_options_content">
                        <a data-toggle="modal"
                           data-target="#deleteBookConfirmationModal"
                           data-bookid="{{ book.book_id }}">
                            Delete book
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="profile_container_notes">
        <div class="item-h"><h5 class="book_profile_titles">My Notes</h5></div>
        {% for book in data %}
            {% if book.notes %}
                <div class="item-j quote_sand_bg_profile">
                    <p class="note_text">{{ book.notes }}</p>
                </div>
            {% else %}
                <div class="item-j">No notes found</div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="profile_container_quotes">
        <div class="quote_brown_bg_profile">
            <div class="quotes_profile"><h5 class="book_profile_titles">Quotes</h5></div>
            {% if not quotes %}
                <div class="item-j">No quotes found</div></p>
            {% else %}
                {% for quote in quotes %}
                    <div class="quote_sand_bg_profile">
                        <img id="quote_sign" src="../static/quote_mark.gif" alt="quotes">
                        <p class="quote_text">{{ quote.quote }}</p>
                        <br>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <!-- add a new quote -->
    {% for book in data %}
        <div class=" container_new_quote">
            <h2 id="add_quote">ADD A NEW QUOTE</h2>
            <form id="new_quote" action="/book/{{ book.book_id }}/new-quote" method="post" autocomplete="off">
                <div class="form-group" id="quote_quote">
                    <textarea autocomplete="off" class="form-control" name="quote" contenteditable="true"
                              placeholder="Type your quote" cols="30" rows="5" required="required"></textarea>
                </div>
                <br>
                <button class="btn btn-light" type="submit" id="quote_btn">+ Add</button>
            </form>
        </div>
    {% endfor %}

    <div class="modal fade" id="deleteBookConfirmationModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteBookConfirmationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteBookConfirmationModalLabel">
                        Are you sure you want to delete this book?
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="confirmBookDelete" type="button" class="btn btn-light" data-dismiss="modal">
                        Confirm
                    </button>
                    <input class="form-control hidden" type="number" name="update_book_id" id="update_book_id">
                </div>
            </div>
        </div>
    </div>
{% endblock %}