{% extends "layout.html" %}

{% block main %}  
    <div class="profile_container">
       <div class="item-c"><img id="logo_profile" src="../static/logo.png" alt="book cover"></div>
       <div class="item-a">JINJA Author</div>
       <div class="item-b">JINJA Title</div>
       <div class="item-d">
            <p>Date added: 2020 20 20</p>
            <p>Page count: 1000</p>
            <p>ISBN: 9789955234043</p>
            <p>Genre: Romance</p>
       </div>
       <div class="item-e">
            <p id="my_rating">My rating: </p>
            <div id="stars">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <p>Started reading: 2020 20 20</p>
            <p>Finished reading: 2020 20 20</p>
            <p>Belongs to: Personal library</p>
        </div>
        <div class="item-f">Lending history</div>
        <div class="item-g">My Notes</div>
        <div class="item-h">Notes text</div>
        <div class="item-i">Quotes</div>
        <div class="item-j">
            <img id="quote_sign_small" src="../static/quote_mark.gif" alt="quotes">
            <div class="quote_text">JINJA+DB QUOTES</div>
        </div>
    </div>
{% endblock %}