{% extends "layout.html" %}

{% block main %}
    {% for book in data %}
    <div class="profile_container">
       <div class="item-c"><img id="logo_profile" src="../static/logo.png" alt="book cover"></div>
       <div class="item-a"><h5 class="book_profile_titles">{{ book.author }}</h5>
    </div>
       <div class="item-b"><h5 class="book_profile_titles">{{ book.title }}</h5>
    </div>
       <div class="item-d">
            <p class="book_profile_titles">Page count: 
            <div class="book_profile_text">{{ book.pages }}</div></p>
            <p class="book_profile_titles">ISBN:
            <div class="book_profile_text">{{ book.isbn }}</div></p>
            <p  class="book_profile_titles">Genre:
            <div class="book_profile_text">{{ book.genre }}</div></p>
            <p class="book_profile_titles">Rating: 
            </p>
       </div>
       {% endfor %}
       <div class="item-e">
            <p><h5 class="book_profile_titles">Started reading: </h5> 
            </p>
                <p id="no_finished">Did not finish reading this book.</p>
                <p><h5 class="book_profile_titles">Finished: </h5>
                </p>
            <p><h5 class="book_profile_titles">Belongs to: </h5>Personal library</p>
        </div>
        <div class="item-f">
            <h5 class="book_profile_titles">Lending history</h5>
                <p> There is no lending history for this book.</p>
                <table class="table table-striped">
                    <tr>
                        <!--table headers-->
                        <th>Lent</th>
                        <th>Returned</th>
                        <th>Lent to</th>
                    </tr>
                        <tr>
                            <td>
                            </td>
                                <td>not returned yet</td>
                                <td>
                                </td>
                            <td>
                            </td>
                        </tr>
                </table>
        </div>
        
        <div class="item-g"><h5 class="book_profile_titles">My Notes</h5></div>
        <div class="item-h">
        </div>
        <div class="item-i"><h5 class="book_profile_titles">Quotes</h5></div>
        <div class="item-j">
            <div class="quote_text">
                    <div class="alert" id="no_quotes">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        You do not have any quotes.
                    </div>
                        <div class="quote_brown_bg">
                            <img id="quote_sign_small" src="../static/quote_mark.gif" alt="quotes">
                            <p class="quote_text">
                            </p>
                            <br>
                            <span class="author_in_quote"></span><span class="names">Author: </span>
                        </span>
                            <br>
                            <span class="book_title_in_quote"><span class="names">Book: </span>
                            </span>
                            <br>
                        </div>
            </div>
        </div>
    </div>
{% endblock %}