<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico" />

    <title>Personal library</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>      
            <a class="navbar-brand abs" href="index.html">HOME LIBRARY</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <a class="navbar-brand" href="index.html"><img src="../static/logo.png" width="50" height="50" alt="logo"></a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="book.html">Add a new book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quotes.html">Quotes</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Type here..." aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <div class="upper_row">
            <p class="sub_title inner">READING NOW</p>
            <button id="add_book"class="inner">
                <img class="img_btn" src="../static/add_book.gif" alt="add a new book">
            </button>
        </div>
        <div class="row">
            <div class="col-sm-4 book">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="book_cover" src="../static/logo.png" alt="book cover">
                    </div>
                    <div class="col-sm">
                        <p class="author">Author</p>
                        <p class="title">Title</p>
                        <p class="started">Started</p>
                    </div>
                    <div class="col-sm-1 options">
                        <img class="options" src="../static/options.svg" alt="options">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 book">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="book_cover" src="../static/logo.png" alt="book cover">
                    </div>
                    <div class="col-sm">
                        <p class="author">Author</p>
                        <p class="title">Title</p>
                        <p class="started">Started</p>
                    </div>
                    <div class="col-sm-1 options">
                        <img class="options" src="../static/options.svg" alt="options">
                    </div>
                </div>
            </div> 
            <div class="col-sm-4 book">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="book_cover" src="../static/logo.png" alt="book cover">
                    </div>
                    <div class="col-sm">
                        <p class="author">Author</p>
                        <p class="title">Title</p>
                        <p class="started">Started</p>
                    </div>
                    <div class="col-sm-1 options">
                        <img class="options" src="../static/options.svg" alt="options">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="upper_row">
            <p class="form-group col-md-2">
                <select id="inputState" class="form-control">
                    <option selected>All Books</option>
                    <option>Read books</option>
                    <option>Lent out books</option>
                    <option>My personal books</option>
                    <option>Books that don’t belong to me</option>
                </select>
            </p>
            <p class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Only lent out books
                </label>
            </p>
        </div>
        <div class="row">
            <div class="col-sm-4 book">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="book_cover" src="../static/logo.png" alt="book cover">
                    </div>
                    <div class="col-sm">
                        <p class="author">Author</p>
                        <p class="title">Title</p>
                        <p class="started">Started</p>
                    </div>
                    <div class="col-sm-1 options">
                        <img class="options" src="../static/options.svg" alt="options">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 book">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="book_cover" src="../static/logo.png" alt="book cover">
                    </div>
                    <div class="col-sm">
                        <p class="author">Author</p>
                        <p class="title">Title</p>
                        <p class="started">Started</p>
                    </div>
                    <div class="col-sm-1 options">
                        <img class="options" src="../static/options.svg" alt="options">
                    </div>
                </div>
            </div> 
            <div class="col-sm-4 book">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="book_cover" src="../static/logo.png" alt="book cover">
                    </div>
                    <div class="col-sm">
                        <p class="author">Author</p>
                        <p class="title">Title</p>
                        <p class="started">Started</p>
                    </div>
                    <div class="col-sm-1 options">
                        <img class="options" src="../static/options.svg" alt="options">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
<script src="/static/index.js"></script>

</html>