{% extends "layout.html" %}

{% block main %}    
    

<div class="container">
        <div class="upper_row" id="indexrow">
            <p class="sub_title inner">READING NOW</p>
            <button id="add_book" title="Add a new book" class="inner" onclick="location.href = '/new-book';">
                <img class="img_btn" src="../static/add_book.gif" alt="add a new book">
            </button>
        </div>
        <div class="row">
            {% if not books %}
                <div class="alert" id="no_books">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    You are not reading anything at the moment.
                </div>
            {% else %}
                {% for book in books %}
                    <div class="book">
                        <div class="row">
                            <div class="col-sm-4" onclick="location.href = '/book-profile';">
                                <img class="book_cover" src="../static/logo.png" alt="book cover">
                            </div>
                            <div class="col-sm-7" onclick="location.href = '/book-profile';">
                                {% if book.author|length <= 10 %}
                                    <p class="author" data-toggle="tooptip" title="{{ book.author }}"><span class="names">Author: </span>{{ book.author }}</p>
                                {% else %}
                                    <p class="author" data-toggle="tooptip" title="{{ book.author }}"><span class="names">Author: </span>{{ book.author[:10] }}...</p>
                                {% endif %}
                                {% if book.title|length <= 12 %}
                                    <p class="title" data-toggle="tooptip" title="{{ book.title }}"><span class="names">Title: </span>{{ book.title }}</p>
                                {% else %}
                                    <p class="title" data-toggle="tooptip" title="{{ book.title }}"><span class="names">Title: </span>{{ book.title[:12] }}...</p>
                                {% endif %}
                                <p class="started"><span class="names">Started: </span>{{ book.started }}</p>
                            </div>
                            <div class="col-sm-1 options">
                                <button id="option_btn" class="inner options">
                                    <img class="options"  src="../static/options.svg" alt="options">
                                </button>
                            </div>    
                            
                        </div>
                        <div class="dropdown" id="show_menu">
                            <!--option menu, which appears on click NIEKAS CIA NEVEIKIA-->
                            <div>
                                <!--<a href="/finish">Add a finish day</a>-->
                                
                                <button class="option_content" type="submit">Add a finish date</button>
                                <br>
                                <form action="/book" method="post">
                                    <input type="hidden" name="title" type="text" value="{{book.title}}" >
                                    <input type="hidden" name="author" type="text" value="{{book.author}}">
                                    <input type="hidden" name="started" type="text" value="{{book.started}}">
                                </form>
                                <!--<a href="/book" type="submit">Book profile</a>-->
                                
                                <button class="option_content" type="submit">Book profile</button>
                                <br>
                                <form action="/remove" method="post">
                                    <input type="hidden" name="title" type="text" value="{{book.title}}" >
                                    <input type="hidden" name="author" type="text" value="{{book.author}}">
                                    <input type="hidden" name="started" type="text" value="{{book.started}}">
                                </form>
                                <!--<a href="/remove" type="submit">Remove from the list</a>-->
                                
                                <button class="option_content" type="submit">Remove from the list</button>
                                <br>
                                <form action="/delete" method="post">
                                    <input type="hidden" name="title" type="text" value="{{book.title}}" >
                                    <input type="hidden" name="author" type="text" value="{{book.author}}">
                                    <input type="hidden" name="started" type="text" value="{{book.started}}">
                                </form>
                                <!--<a href="/delete" type="submit">Delete</a>-->
                                
                                <button class="option_content" type="submit">Delete</button>
                            </div>
                        </div>
                    </div>        
                {% endfor %}
            {% endif %}      
        </div>
    </div>
    <div class="container">
        <div class="upper_row">
            <div class="form-group col-md-2">
                <form action="/" id="listform" method="post">
                    <select name="listname" id="inputList" class="form-control" onchange="$('#listform').submit()">
                        <option class="list_option" value="invalid">Select</option>
                        <option class="list_option" value="all">All Books</option>
                        <option class="list_option" value="read">Read books</option>
                        <option class="list_option" value="lent">Lent out books</option>
                        <option class="list_option" id="option_personal" value="personal">My personal books</option>
                        <option class="list_option" id="option_notmine" value="notmine">Books that don’t belong to me</option>
                    </select>
                </form>
            </div>
            <div class="form-check">
                <form action="/" id="checkform" method="post">
                    <input name="listname" class="form-check-input" type="checkbox" value="lent" id="defaultCheck1" onchange="$('#checkform').submit()">
                    <label class="form-check-label" for="defaultCheck1">
                        Only lent out books
                    </label>
                </form>  
            </div>
        </div>
        <div class="row">
            {% if not lists %}
            <div class="alert" id="no_books">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                You do not have any books in this list yet.
            </div>
            {% else %}
                {% for list in lists %}
                    <div class="book">
                        <div class="row">
                            <div class="col-sm-4" onclick="location.href = '/book-profile';">
                                <img class="book_cover" src="../static/logo.png" alt="book cover">
                            </div>
                            <div class="col-sm" onclick="location.href = '/book-profile';">
                                {% if list.author|length <= 12 %}
                                    <p class="author" data-toggle="tooptip" title="{{ list.author }}"><span class="names">Author: </span>{{ list.author }}</p>
                                {% else %}
                                    <p class="author" data-toggle="tooptip" title="{{ list.author }}"><span class="names">Author: </span>{{ list.author[:12] }}...</p>
                                {% endif %}
                                {% if list.title|length <= 15 %}
                                    <p class="title" data-toggle="tooptip" title="{{ list.title }}"><span class="names">Title: </span>{{ list.title }}</p>
                                {% else %}
                                    <p class="title" data-toggle="tooptip" title="{{ list.title }}"><span class="names">Title: </span>{{ list.title[:15] }}...</p>
                                {% endif %}
                                {% if not list.rating %}
                                    <p class="rating_index"><span class="names">Rating: - </span></p>
                                {% else %}
                                     <p class="rating_index">
                                        <span class="names">Rating: </span>
                                            {% for i in range(list.rating)%}
                                                <span class="stars_red">★</span>
                                            {% endfor %}
                                            {% for i in range(5 - (list.rating)) %}
                                                <span class="stars_white">★</span>
                                            {% endfor %}
                                        </p>
                                    
                                {% endif %}
                            </div>
                            <div class="col-sm-1 options">
                                <button id="option_btn" class="inner options">
                                    <img class="options"  src="../static/options.svg" alt="options">
                                </button>
                            </div>      
                        </div>
                    </div>        
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}